.vs
Simul/x64
Simul/*.user
Simul/*.filters
KILLME
ITMO_TOOLS/x64
ITMO_TOOLS/*.user
ITMO_TOOLS/*.filters
KILLME
X64
release
debug
ITMO_LDPC_DEC_ENGINE/x64
ITMO_LDPC_DEC_ENGINE/*.user
ITMO_LDPC_DEC_ENGINE/*.filters






